<app-header titulo="Periodo Ejecución 2020"></app-header>

<ion-content>
    <ion-card mode="ios" color="success">
        <ion-card-content>
            Aprobados:
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="tertiary">
        <ion-card-content>
            Ejecución:
        </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-item>

            <ion-label text-center>
                <h3>Codigo</h3>
            </ion-label>

            <ion-label text-center>
                <h3>Inic VcM</h3>
            </ion-label>

            <ion-label text-center>
                <h3>Estado</h3>
            </ion-label>

            <ion-label text-center>
                <h3>Comp</h3>
            </ion-label>

        </ion-item>
        <ion-item>



        </ion-item>
    </ion-list>
</ion-content>


<ion-tabs></ion-tabs>

<app-piepag></app-piepag>