<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="light">Plataforma SISAV</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card mode="ios" color="success">
        <ion-card-content>
            Aprobados:
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="tertiary">
        <ion-card-content>
            Ejecución:
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="warning">
        <ion-card-content>
            Agendar:
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="secondary">
        <ion-card-content>
            Finalizados:
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="light">
        <ion-card-content>
            No realizados:
        </ion-card-content>
    </ion-card>

</ion-content>


<ion-tabs>


</ion-tabs>

<app-piepag></app-piepag>