<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="light">Plataforma SISAV</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background">
    <ion-card mode="ios" color="success" *ngFor="let c of counttotalaprobado">
        <ion-card-content>
            Aprobados: {{c}}
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="tertiary" *ngFor="let c of counttotalejecucion">
        <ion-card-content>
            Ejecución: {{c}}
        </ion-card-content>
    </ion-card>


    <ion-card mode="ios" color="warning" *ngFor="let c of counttotalagendar">
        <ion-card-content>
            Agendar: {{c}}
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="secondary" *ngFor="let c of counttotalfinalizado">
        <ion-card-content>
            Finalizados: {{c}}
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="light" *ngFor="let c of counttotalnorealizado">
        <ion-card-content>
            No realizados: {{c}}
        </ion-card-content>
    </ion-card>

</ion-content>


<ion-tabs>


</ion-tabs>

<app-piepag></app-piepag>