<app-header titulo="Listado Plan Operativo Anual - POA"></app-header>

<ion-content class="background">
    <ion-card mode="ios" color="success">
        <ion-card-content>
            Aprobados:
        </ion-card-content>
    </ion-card>
    <ion-buttons>
        <ion-button routerLink="/inicio"><img src="https://img.icons8.com/dotty/30/000000/pdf.png" /></ion-button>

        <ion-button routerLink="/listaproyectos">
            <ion-icon name="search"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-content>
<ion-button><img src="https://img.icons8.com/dotty/30/000000/search-more.png" /></ion-button>
<ion-button><img src="https://img.icons8.com/dotty/30/000000/pdf.png" /></ion-button>

<ion-tab-bar color="primary">
    <ion-tab-button tab="account">
        <ion-icon name="person"></ion-icon>
        <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
        <ion-icon name="call"></ion-icon>
        <ion-label>Contacto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
    </ion-tab-button>
</ion-tab-bar>