<app-header titulo="Listado Ejecución POA"></app-header>

<ion-content class="background">
    <ion-card mode="ios" color="success">
        <ion-badge>
            Aprobados:
        </ion-badge>
    </ion-card>
</ion-content>



<ion-tab-bar color="primary">
    <ion-tab-button tab="account">
        <ion-icon name="person"></ion-icon>
        <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
        <ion-icon name="call"></ion-icon>
        <ion-label>Contacto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
    </ion-tab-button>
</ion-tab-bar>