<app-header titulo="Periodo Ejecución 2020"></app-header>

<ion-content padding>

    <ion-card mode="ios" color="primary">
        <ion-card-content>
            <h4 class=" gray " align="center ">PROPUESTA PROTECTOS AÑO 2020</h4>
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
        <ion-card-content>
            ESTADO (PROYECTOS):
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="medium">
        <ion-card-content>
            Agendar:
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="tertiary">
        <ion-card-content>
            Aprobados:
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="success">
        <ion-card-content>
            Ejecución:
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="warning">
        <ion-card-content>
            Finalizados:
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="medium">
        <ion-card-content>
            No realizados:
        </ion-card-content>
    </ion-card>

</ion-content>


<ion-tab-bar color="primary">
    <ion-tab-button tab="account">
        <ion-icon name="person"></ion-icon>
        <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
        <ion-icon name="call"></ion-icon>
        <ion-label>Contacto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
    </ion-tab-button>
</ion-tab-bar>