<app-header titulo="Periodo Ejecución 2020"></app-header>




<ion-content>

    <ion-card mode="ios" color="success" *ngFor="let c of countaprobados">
        <ion-card-content>
            Aprobados: {{c}}
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="tertiary" *ngFor="let c of countejecucion">
        <ion-card-content>
            Ejecución: {{c}}
        </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-item>
            <ion-label text-center>
                <h3>Codigo</h3>
            </ion-label>
            <ion-label text-center>
                <h3>Prog VcM</h3>
            </ion-label>
            <ion-label text-center>
                <h3>Estado</h3>
            </ion-label>
            <ion-label text-center>
                <h3>Comp</h3>
            </ion-label>
        </ion-item>

        <ion-item *ngFor="let p of proye">
            <ion-label text-center>
                <p>{{p.cod_proyecto}}</p>
            </ion-label>
            <ion-label text-center>
                <p>{{p.nom_proyecto}}</p>
            </ion-label>
            <ion-label text-center>
                <p>{{p.cod_estado}}</p>
            </ion-label>
            <ion-label text-center>
                <img src="https://img.icons8.com/dotty/30/000000/pdf.png" />
            </ion-label>
        </ion-item>


    </ion-list>
</ion-content>


<ion-tabs>


</ion-tabs>

<app-piepag></app-piepag>