<app-header titulo="Memorandum" color="light"></app-header>

<ion-content padding>


    <ion-card mode="ios" color="success">
        <ion-card-content>
            N° Memorandum Aprobados:
        </ion-card-content>

    </ion-card>
    <ion-card mode="ios" color="primary">
        <ion-card-content>
            N° Esperando Resolución:
        </ion-card-content>

    </ion-card>
    <ion-card mode="ios">
        <ion-card-content>
            N° Memorandum Sin Notificar:
        </ion-card-content>

    </ion-card>
    <ion-card mode="ios" color="danger">
        <ion-card-content>
            N° Memorandum Rechazados:
        </ion-card-content>

    </ion-card>
    <ion-button>Default</ion-button>
    <ion-button color="primary">Primary</ion-button>
    <ion-button color="secondary">Secondary</ion-button>
    <ion-button color="tertiary">Tertiary</ion-button>
    <ion-button color="success">Success</ion-button>
    <ion-button color="warning">Warning</ion-button>
    <ion-button color="danger">Danger</ion-button>
    <ion-button color="light">Light</ion-button>
    <ion-button color="medium">Medium</ion-button>
    <ion-button color="dark">Dark</ion-button>
</ion-content>